@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:wght@100;400&family=Roboto+Mono:wght@500&display=swap");

body {
  background: linear-gradient(to right, #41295a, #2f0743);
  color: white;
}

h1 {
  margin-top: 0;
  font-size: 8rem;
  text-align: center;
  font-family: "Bree Serif";
  text-decoration: underline;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image img {
  border: 2px solid white;
  border-radius: 15px;
}

.image summary {
  font-family: Poppins;
  font-size: 1.4rem;
}

h2 {
  font-family: "Bree Serif";
  font-size: 3.5rem;
}

p {
  margin-left: 10px;
  padding: 10px;
  font-family: Poppins;
  font-size: 1.1rem;
}

.recipe-list li {
  font-family: Poppins;
  font-size: 1.1rem;
  padding: 10px;
  margin-left: 40px;
}

footer {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  text-align: center;
  margin-top: 7rem;
}
